alembic==0.9.7
APScheduler==3.2.0
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
blinker==1.4
cffi==1.11.4
click==6.7
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
DBUtils==1.2
dominate==2.3.1
Flask==0.11.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Moment==0.6.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
lxml==3.7.1
Mako==1.0.7
MarkupSafe==1.0
mysql-connector-python==8.0.5
parsel==1.3.1
pbr==3.1.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pymongo==3.2.2
PyMySQL==0.8.0
pyOpenSSL==17.5.0
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.3
pywin32==221
queuelib==1.4.2
redis==2.10.5
requests==2.11.0
Scrapy==1.5.0
selenium==3.8.1
service-identity==17.0.0
six==1.11.0
SQLAlchemy==1.2.1
stevedore==1.28.0
Twisted==17.9.0
tzlocal==1.5.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper-win==1.2.5
visitor==0.1.3
w3lib==1.18.0
Werkzeug==0.14.1
WTForms==2.1
zope.interface==4.4.3
