<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>xxx管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='ionicons/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/dist/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/dist/css/skins/_all-skins.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='admin/plugins/datepicker/datepicker3.css') }}">
    <style>
        * {
            font-family: "Microsoft YaHei";
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            vertical-align: middle;
            text-align: center;
        }
    </style>
    {% block css %}{% endblock %}

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="/admin/" class="logo">
            <span class="logo-mini"><img src="" style="height:40px;width:40px;">电影系统</span>
            <span class="logo-lg">RBAC权限管理系统</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">下拉菜单</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img data-src="holder.js/30x30"
                                 class="user-image" alt="User Image">
                            <span class="hidden-xs"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img
                                     class="img-circle" alt="User Image">
                                <p>

                                    <small></small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/admin/pwd" class="btn btn-default btn-flat">修改密码</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/admin/login" class="btn btn-default btn-flat">退出系统</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img data-src="holder.js/40x40" class="img-circle"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>用户{{ session["admin"] }}</p>
                    <a href="#"><i class="fa fa-home"></i> 在线</a>
                </div>
            </div>
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="搜索...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                                class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li class="header">管理菜单</li>
                {% for v,cate in menu_dict.items() %}
                    <li class="treeview" id="g-1">
                        <a href="#">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>{{ cate.menu_title }}</span>
                            <span class="label label-primary pull-right">{{ cate.children | length }}</span>
                        </a>
                        {% for v in cate.children %}
                            <ul class="treeview-menu">
                                {% if v.active %}
                                    <li id="g-1-1" class="active">
                                        <a href="{{ v.url }}" class="active">
                                            <i class="fa fa-circle-o"></i> {{ v.title }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li id="g-1-1">
                                        <a href="{{ v.url }}">
                                            <i class="fa fa-circle-o"></i> {{ v.title }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <!--内容-->
        {% block content %}

        {% endblock %}

        <!--内容-->
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>版本</b> 1.0
        </div>
        <strong>版权 &copy; 2017-2018 归<a href="">evday</a>.</strong> 所有
    </footer>
    <div class="control-sidebar-bg"></div>
</div>
<script src="{{ url_for ('static',filename='admin/plugins/jQuery/jQuery-2.2.0.min.js') }}"></script>
<script src="{{ url_for ('static',filename='admin/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for ('static',filename='admin/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for ('static',filename='admin/plugins/fastclick/fastclick.js') }}"></script>
<script src="{{ url_for ('static',filename='admin/dist/js/app.min.js') }}"></script>
<script src="{{ url_for ('static',filename='admin/dist/js/demo.js') }}"></script>
<!--默认图片占位符 比如 data-src="holder.js/262x166"-->
<script src="//cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
<script src="{{ url_for ('static',filename='admin/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for ('static',filename='admin/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js') }}"
        charset="UTF-8"></script>

{#<script>#}
{#    $(document).ready(function () {#}
{#        $("#g-1").addClass("active");#}
{#        $("#g-1-1").addClass("active");#}
{#    });#}
{#</script>#}
{% block js %}

{% endblock %}

</body>
</html>